<section id="pricing" class="pricing section-bg">
  <div class="container mt-5 d-flex justify-content-center gap-5 " data-aos="fade-up">
    <div class="card col-lg-3">
      <div data-aos="fade-up" data-aos-delay="100">
        <div class="box">
          <h3>Transactions amount</h3>
          <h4>$ {{ transactionAmount | number }}</h4>
          <div class="btn-wrap">
            <a href="/transactions" class="btn-buy">See Detail</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card col-lg-3">
      <div data-aos="fade-up" data-aos-delay="100">
        <div class="box">
          <h3>Transaction balance</h3>
          <h4>$ {{ transactionBalance | number }}</h4>
          <div class="btn-wrap">
            <a href="/transactions" class="btn-buy">See Detail</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card col-lg-3">
      <div data-aos="fade-up" data-aos-delay="100">
        <div class="box">
          <h3>Accounts</h3>
          <h4>{{ dataProfile.accounts.length || 0 }}</h4>
          <div class="btn-wrap">
            <a href="/accounts" class="btn-buy">See Detail</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>