<form
  class="container h-100 d-flex justify-content-center align-items-center loginneeds-validation"
  novalidate
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
>
  <div class="section w-25">
    <h1 class="h3 fw-normal text-center  mt-4">Login</h1>

    <div class="form-floating col-md-15 form-group mt-4">
      <input
        type="email"
        class="form-control"
        [ngClass]="{
          'is-invalid': submitted && loginForm.controls['email'].invalid
        }"
        id="floatingInput"
        placeholder="name@example.com"
        formControlName="email"
      />

      <label for="floatingInput">Email address</label>
    </div>

    <div class="form-floating col-md-15 form-group mt-4 ">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        formControlName="password"
        [ngClass]="{
          'is-invalid': submitted && loginForm.controls['password'].invalid
        }"
      />
      <label for="floatingPassword">Password</label>
    </div>
    <button class="login__btn_name  w-100 py-2 mt-3" type="submit">
      Sign in
    </button>
    <a routerLink="/home" class="btn login__btn_home w-100 py-2 mt-3">
      Go Back Home
    </a>
    <p class="mt-3 text-center">
      Not a member yet? <a routerLink="/register"> Register</a>
    </p>
  </div>
</form>
